{{yield}}
<li>
  <p>{{rental.owner}}, {{rental.city}}, {{rental.type}}</p>

  {{#if isImageShowing }}

  <p><img src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}} ></p>
    {{else}}
      <button {{action 'imageShow'}}>Show image</button>
    {{/if}}
    {{update-rental rental=rental update="update"}}
    <button {{action 'delete' rental}}>Delete Rental</button>


</li>
